<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/css/stuIndex.css">
    <script src="/static/easyui/jquery-3.1.1.js"></script>

</head>

<body class="bos">
    <div class="header"></div>
    <div class="main ban">
        <div class="item">
            <div class="itemHeder">考试模块</div>
            <div class="itemMian">
                <li>
                    <a href="toExam" >
                        <div class="left">
                            <img src="/static/image/ia_100000018 (1).png" alt="">
                            <span>在线考试</span>
                        </div>
                        <div class="right">业务直通车</div>
                    </a>
                </li>
                <li>
                    <a href="queryResult">
                        <div class="left">
                            <img src="/static/image/ia_100000020 (1).png" alt="">
                            <span>成绩查询</span>
                        </div>
                        <div class="right">业务直通车</div>
                    </a>
                </li>
                <li>
                    <a href="toExam" >
                        <div class="left">
                            <img src="/static/image/ia_100000021 (1).png" alt="">
                            <span>考试动态</span>
                        </div>
                        <div class="right">业务直通车</div>
                    </a>
                </li>
            </div>
        </div>






        <div class="item">
            <div class="itemHeder">疫情防控</div>
            <div class="itemMian">
                <li>
                    <a href="/stu/card">
                        <div class="left">
                            <img src="/static/image/ia_100000020 (1).png" alt="">
                            <span>体温打卡</span>
                        </div>
                        <div class="right">业务直通车</div>
                    </a>
                </li>


                <li>
                    <a onclick="f()">
                        <div class="left">
                            <img src="/static/image/ia_100000024 (1).png" alt="">
                            <span>在线直播</span>
                        </div>
                        <div class="right">暂未开通</div>
                    </a>
                </li>

            </div>
        </div>




        <div class="item">
            <div class="itemHeder">学生应用</div>
            <div class="itemMian">
                <li>
                    <a href="/stu/counser" >
                        <div class="left">
                            <img src="/static/image/ia_100000058 (1).png" alt="">
                            <span>在线课表</span>
                        </div>
                        <div class="right">业务直通车</div>
                    </a>
                </li>
                <li>
                    <a href="/stu/book">
                        <div class="left">
                            <img src="/static/image/ia_100000051 (1).png" alt="">
                            <span>图书推荐</span>
                        </div>
                        <div class="right">业务直通车</div>
                    </a>
                </li>
                <li>
                    <a href="/stu/leave" >
                        <div class="left">
                            <img src="/static/image/ia_100000019 (1).png" alt="">
                            <span>在线请假</span>
                        </div>
                        <div class="right">业务直通车</div>
                    </a>
                </li>
            </div>
        </div>




        <div class="item">
            <div class="itemHeder">学生作业</div>
            <div class="itemMian">
                <li>
                    <a href="/stu/kebiao">
                        <div class="left">
                            <img src="/static/image/ia_100000000186 (1).png" alt="">
                            <span>我的作业</span>
                        </div>
                        <div class="right">业务直通车</div>
                    </a>
                </li>
                <li>
                    <a href="/stu/task">
                        <div class="left">
                            <img src="/static/image/ia_100000033 (1).png" alt="">
                            <span>上交作业</span>
                        </div>
                        <div class="right">业务直通车</div>
                    </a>
                </li>
            </div>
        </div>

        <div class="item">
            <div class="itemHeder">个人信息</div>
            <div class="itemMian">
                <li>
                    <a href="toChangeInformation"  >
                        <div class="left">
                            <img src="/static/image/ia_100000053 (1).png" alt="">
                            <span>修改资料</span>
                        </div>
                        <div class="right">业务直通车</div>
                    </a>
                </li>
                <li>
                    <a href="toChangepassword" >
                        <div class="left">
                            <img src="/static/image/ia_100000023 (1).png" alt="">
                            <span>修改密码</span>
                        </div>
                        <div class="right">业务直通车</div>
                    </a>
                </li>
                <li>
                    <a href="tologin"  >
                        <div class="left">
                            <img src="/static/image/ia_100000036 (1).png" alt="">
                            <span>退出系统</span>
                        </div>
                        <div class="right">业务直通车</div>
                    </a>
                </li>
            </div>
        </div>
        <div class="item"></div>
    </div>
    <script>


    </script>
</body>
<script>
    function f() {
       alert("非疫情期间暂不开通")
    }
</script>
</html>