<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.StuUserMapper">
   <!--	登录验证 -->
    <select id="findByUsername"   parameterType="String" resultType="com.example.entity.User" >
    select username,password,roles from t_login where username = #{value}
  </select>

	<!--	验证注册用户名是否存在 -->
    <select id="findRegisterUsername"   parameterType="String" resultType="com.example.entity.User" >
    select username  from t_login where username = #{value}
  </select>
    <!-- 添加学生用户账号 -->
    <insert id="register" parameterType="com.example.entity.User">
		INSERT INTO t_login
			(
			username,
			password,
			roles

			)
			VALUES
			(
			#{username},
			#{password},
			#{roles}
			)
	</insert>

	<!-- 添加用户账号 -->
	<insert id="addStuInformation" parameterType="com.example.entity.StuInformation">
		INSERT INTO stu_information
			(
			username,
			stuid,
			stuname,
			stutime,
            sex
			)
			VALUES
			(
			#{username},
			#{stuid},
			#{stuname},
			#{stutime},
			#{sex}
			)
	</insert>

   <!--	修改用户密码-->
	<update id="updatePassword" parameterType="com.example.entity.User" >
    update t_login
    set password = #{password}
    where username=#{username}
  </update>

    <!--查询用户信息	 -->
    <select id="findInformationByUsername"   parameterType="String" resultType="com.example.entity.StuInformation" >
    select sex,stuid,stuname,stutime from stu_information where username = #{value}
  </select>


   <!--	修改用户信息-->
	<update id="updateInformation" parameterType="com.example.entity.StuInformation">
	 update stu_information
    set stuid = #{stuid},
    sex=#{sex},
    stuname=#{stuname},
    stutime=#{stutime}
    where username=#{username}
	</update>
</mapper>
